@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@300;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ::-webkit-scrollbar {
    display: none;
} */

:root {
    --black: #333;
    --gray: #777;
    --blue: #6c7ae0;
    --toggle-btn: url(./images/icons8-menu-30.png);
}

body {
    font-family: 'Poppins', sans-serif;
}

.toggle {
    display: none;
    background: var(--toggle-btn) no-repeat;
    width: 30px;
    height: 30px;
}

.close {
    --toggle-btn: url(./images/icons8-close-24.png);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 70px;
    background-color: var(--black);
    color: #b2b2b2;
    font-size: 12px;
    height: 100%;
}

.top-bar-right a:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.top-bar-right a{
    text-decoration: none;
    color: #b2b2b2;
    font-size: 12px;
    /* line-height: 1.8; */
    /* height: 100%; */
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding: 12px 15px;
    transition: all 0.2s ease-in;
}

.top-bar-right a:hover {
    color: var(--blue);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 12px 70px;
    position: absolute;
    top: 4%;
    z-index: 1;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo h3 {
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
}

.logo span {
    /* color: var(--gray); */
    font-weight: 300;
}

.nav-items ul {
    position: relative;
    display: flex;
    margin-left: 50px;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    color: var(--black);
    text-decoration: none;
    margin-left: 25px;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.nav-items li a:hover {
    color: var(--blue);
}

.nav-items ul li a.active {
    color: var(--blue);
}

.hot {
    position: absolute;
    top: -30%;
    left: 115px;
    font-size: 9px;
    font-weight: 700;
    color: white;
    background-color: rgb(216, 86, 86);
    padding: 2px 5px;
    border-radius: 10px;
}

/* .nav-right img:first-child {
    margin-right: 20px;
} */

.nav-right {
    position: relative;
}

.home-cart-number {
    position: absolute;
    bottom: 50%;
    left: 85%;
    color: white;
    padding: 1px 5px;
    background-color: var(--blue);
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
}

/* .home-cart-number {
    display: none;
} */

/* .cart-number {
    display: flex;
} */

.scroll {
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    /* padding: 10px 70px; */
    transition: all 0.2s ease-in;
    z-index: 10;
}

.cart-icon, .fav {
    cursor: pointer;
}

.cart {
    position: fixed;
    top: 0;
    right: -150%;
    width: 320px;
    height: 100vh;
    padding: 20px;
    background-color: white;
    box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
    z-index: 20;
    transition: all 0.3s ease-in ;
}

.display {
    right: 0;
}

.cart-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-head h3 {
    font-size: 18px;
    font-weight: 300;
}

.cart-content {
    max-width: 100%;
    height: 80vh;
    overflow: auto;
    /* scrollbar-width: 0; */
    margin-top: 25px;
}

.cart-box {
    width: 100%;
    display: grid;
    grid-template-columns: 32% 50% 18%;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.item-img {
    width: 100%;
    height: 80px;
    object-fit: contain;
}

.item-name {
    font-size: 12px;
    font-weight: 300;
}

.cart-price {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.item-quantity, .x {
    font-size: 15px;
    font-weight: 300;
}

.x {
    margin-left: 3px;
}

.item-price {
    margin-left: 3px;
    font-size: 20px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .counter input {
    background: #f7f8fa;
    width: 60%;
    height: 30px;
    font-size: 14px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: 500;
    color: var(--black);
    margin-top: 14px;
}

.counter .minus, .counter .plus {
    border: 1px solid var(--black);
    cursor: pointer;
    margin-top: 12px;
} */
.cart-quantity {
    width: 30px;
    height: 20px;
}

.cart-remove {
    margin-top: 10px;
}

.cart-footer {
    width: 100%;
    position: sticky;
}

.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-footer button {
    width: 100%;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./images/hero/hero4.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-content {
    position: absolute;
    top: 35%;
    padding: 0 70px;
}

.hero-content h3 {
    color: var(--black);
    font-size: 28px;
    font-weight: 300;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: var(--black);
    /* animation: text 3s 1; */
}

.hero-content button {
    border: none;
    border-radius: 25px;
    background-color: var(--blue);
    padding: 15px 40px;
    margin-top: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.hero-content button a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

.hero-content button:hover {
    background-color: var(--black);
}

/* CATEGORIES */

.category-imgs {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 70px;
    overflow: hidden;
}

.category-imgs .zoom-in img {
    max-width: 100%;
    transform: scale(1);
    transition: all 0.4s ease-in;
}

.category-imgs .zoom-in:hover img {
    transform: scale(1.15);
}

figure {
    overflow: hidden;
}

.zoom-in {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.zoom-in a {
    color: var(--black);
    text-decoration: none;
}

.category-text {
    position: absolute;
    bottom: 10%;
    background-color: white;
    padding: 10px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* PRODUCTS */

.product-container {
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* max-width: 100%; */
    padding: 50px 70px;
}

.product-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-head h3 {
    color: var(--black);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-head h3 span {
    margin: 0 30px
}

.product-head h3::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 2px;
    background: var(--black);
}

.product-head h3::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 2px;
    background: black;
}

.product-head p {
    font-family: 'Playfair Display', serif;
    color: var(--gray);
}

.product-imgs {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 80px;
}

.a-prod-img {
    width: 100%;
}

.a-prod-img img {
    max-width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
}

.a-prod-img figure {
    position: relative;
    top: 0;
    width: 100%;
    height: 350px;
    
}

.a-prod-img figure img {
    position: absolute;
    top: 0;
    width: 100%;
}

.img-front:hover {
    opacity: 0;
}

.img-front:hover {
    transform: scale(1.15);
}

.perks {
    position: absolute;
    top: 1%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.perks .one {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: white;
    background-color: var(--blue);
    padding: 0;
}

.perks .two {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: white;
    background-color: rgb(216, 86, 86);
    margin-top: 5px;
    padding: 2px 6px;
}

.perks .three {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: white;
    background-color: rgb(228, 39, 39);
    padding: 2px 6px;
}

.perks_prod6 .four {
    position: absolute;
    top: 52.5%;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: white;
    background-color: rgb(216, 86, 86);
    margin-left: 10px;
    padding: 2px 6px;
}

.a-prod-info .brand {
    color: var(--gray);
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
}

.a-prod-info .name {
    font-size: 15px;
    /* font-weight: 300; */
    /* margin-top: 5px; */
}

.a-prod-info .item-quantity {
    display: none;
}

.price {
    display: flex;
    align-items: center;
}

.price p {
    color: var(--gray);
    font-size: 13px;
    font-weight: 300;
    text-decoration: line-through;
    margin-right: 8px;
}

.price .amount {
    font-size: 18px;
    font-weight: 300;
}

.black {
    width: 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: black;
}

.a-prod-info button {
    position: relative;
    margin-top: 18px;
    background-color: white;
    border: 1px solid var(--black);
    padding: 8px 30px;
    transition: 0.3s;
    z-index: 1;
    cursor: pointer;
}

.a-prod-info button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--black);
    transition: 0.2s all ease-in-out;
}

.a-prod-info button:hover {
    color: white;
}

.a-prod-info button:hover::before {
    transform: scaleX(1);
}

.load-more_container {
    align-self: center;
    margin-top: 60px;
} 

.load-more {
    color: white;
    background-color: var(--black);
    border: 1px solid var(--black);
    padding: 10px 40px;
    cursor: pointer;
}

/* .extra-left_text .top {
    font-size: 24px;
}

.extra-left_text .bottom {
    font-size: 14px;
}

.extra-right_text.top {
    font-size: 18px;
}

.extra-right_text .bottom {
    font-size: 50px;
}

.extra {
    width: 100%;
    padding: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.extra-left,
.extra-right {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.extra-left img,
.extra-right img {
    width: 100%;
}

.extra-left figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.extra-left_text,
.extra-right_text {
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.extra-left figure {
    transform: scale(1);
    transition: all 0.3s ease-in;
}

.extra-left figure:hover {
    transform: scale(1.3) rotate(10deg);
}

.extra-left_text:hover {
    transform: scale(1);
} */

/* FJKDF */
.extra {
    width: 100%;
    padding: 50px 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.extra-left,
.extra-right {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    overflow: hidden;
}

.extra-left img,
.extra-right img {
    width: 100%;
}

.extra-left_text,
.extra-right_text {
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.extra-left_text .top {
    font-size: 24px;
}

.extra-left_text .bottom {
    font-size: 14px;
}

.extra-right_text.top {
    font-size: 18px;
}

.extra-right_text .bottom {
    font-size: 50px;
}

.extra-left img {
    transform: scale(1);
    transition: all 0.3s ease-in;
}

.extra-left img:hover {
    transform: scale(1.3) rotate(10deg);
}

.extra-right img {
    transform: translateY(0);
    transition: all 0.3s ease-in;
}

.extra-right img:hover {
    transform: translateY(-10px);
}

/* BLOG SECTION */

.blog {
    margin: 70px;
}

.blog-head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-head h3 {
    color: var(--black);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-head h3 span {
    margin: 0 30px
}

.blog-head h3::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 2px;
    background: var(--black);
}

.blog-head h3::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 2px;
    background: black;
}

.blog-head p {
    font-family: 'Playfair Display', serif;
    color: var(--gray);
}

.blog-content_desktop {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.blogpost img {
    width: 100%;
}

.blogpost_text {
    margin-top: 5px;
    font-weight: 300;
}

.blogpost_text h3 {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--black);
    transition: all 0.2s ease-in;
}

.blogpost_text h3:hover {
    color: var(--blue);
}

.blogpost_text h4 {
    margin-top: 8px;
    font-size: 13px;
    font-weight: 400;
    color: var(--gray);
}

.blogpost h4 span {
    color: var(--black);
}

.blogpost_text p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 15px;
    color: var(--gray);
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.comment img {
    width: 24px;
    height: 24px;
}

.comment-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-img p {
    margin: 0 0 2px 5px;
}

.swiper {
    display: none;
}

.follow-us {
    margin-top: 100px;
}

.follow-us_head {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follow-us_head h3 {
    color: var(--black);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-us_head h3 span {
    margin: 0 30px
}

.follow-us_head h3::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 2px;
    background: var(--black);
}

.follow-us_head h3::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 2px;
    background: black;
}

.follow-us_imgs {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-top: 20px;
}

.follow-us_imgs img {
    width: 100%;
    height: 100%;
}

.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 70px;
    gap: 20px;
}

.feature {
    display: flex;
}

.feature-info {
    margin-left: 15px;
    font-weight: 300;
}

.feature-info h3 {
    font-size: 15px;
}

.feature-info p {
    font-size: 16px;
    color: var(--gray);
}

@media screen and (max-width: 900px) {
    .nav-items ul {
        margin-left: 20px;
    }
    .category-imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product-imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .prod3 {
        position: relative;
    }
    .perks_prod3 {
        position: absolute;
        top: 3%;
    }
    .features {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 720px) {
    .top-bar {
        display: none;
    }
    nav {
        position: absolute;
        top: 0;
        padding: 10px 50px;
        background-color: white;
    }
    .toggle {
        display: flex;
        z-index: 100;
    }   
    .nav-items {
        flex-direction: column;
        width: 320px;
        height: 100vh;
        background-color: white;
        position: absolute;
        top: 0%;
        left: -100%;
        z-index: 10;
        transition: all 0.2s ease-in;
    }  
    .nav-items ul {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 100px;
        width: 100%;
    }
    .nav-items li {
        padding: 12px;
        font-weight: 300;
    }
    .nav-items li a {
        font-size: 25px;
    }
    .hidden {
        overflow: hidden;
    }
    .nav-items.active {
        left: 0;
    }
    .hot {
        position: absolute;
        top: 45%;
        left: 30%;
        font-size: 12px;
        font-weight: 700;
        color: white;
        background-color: rgb(216, 86, 86);
        padding: 2px 5px;
        border-radius: 10px;
}
    .hero {
        background: url(./images/new-imgs/hero4.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    .hero-content {
        padding: 0 50px;
    }
    .hero-content h3 {
        font-size: 25px;
    }
    .hero-content h1 {
        font-size: 50px;
        margin-top: 10px;
    }
    .hero-content button {
        padding: 12px 25px;
        margin-top: 12px;
    }
    .hero-content button a {
        font-size: 15px;
    }
    .category-imgs {
        padding: 50px;
    }
    .product-container {
        padding: 50px;
    }
    .extra {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
    .blog {
        margin: 50px;
    }
    .blog-head h3 {
        font-size: 20px;
    }
    .blog-head h3 span {
        margin: 0 10px
    }
    .blog-content_desktop {
        display: none;
    }
    .blogpost_img {
        place-items: center;
        height: 100%;
    }
    .blogpost_img img {
        width: 100%;
        height: 100%;
    }
    .swiper {
        display: flex;
        margin-top: 40px;
        position: relative;
    }
    .swiper-button-prev, .swiper-button-next {
        border: 3px solid var(--blue);
        padding: 20px;
        border-radius: 90%;
        position: absolute;
        top: 35%;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 30px;
    }
    .follow-us_imgs {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .follow-us_head h3 {
        font-size: 20px;
    }
    .follow-us_head h3 span {
        margin: 0 10px;
    }
    .follow-us_head h3::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 2px;
    background: var(--black);
    }
    .follow-us_head h3::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 2px;
    background: var(--black);
    }
    .features {
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
}

@media screen and (max-width: 500px) {
    nav {
        padding: 15px 20px;
    }
    .nav-items ul {
        margin-left: 0;
    }
    .nav-items li {
        padding: 12px 0;
    }
    .hot {
        position: absolute;
        top: 45%;
        left: 20%;
    }
    .logo h3 {
        font-size: 25px;
    }
    .nav-right img:first-child {
        margin-right: 5px;
    }
    .product-head p {
        font-size: 18px;
    }
    .product-head h3 span {
        margin: 0 10px
    }
    .product-head h3::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 2px;
        background: var(--black);
    }
    .product-head h3::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 2px;
        background: var(--black);
    }
    .hero-content {
        padding: 0 20px;
    }
    .hero-content h3 {
        font-size: 20px;
    }
    .hero-content h1 {
        font-size: 35px;
    }
    .hero-content button {
        padding: 10px 15px;
    }
    .hero-content button a {
        font-size: 12px;
    }
    .category-imgs {
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .product-container {
        padding: 30px;
    }
    .product-imgs {
        display: flex;
        flex-direction: column;
    }
    .a-prod-info {
        text-align: center;
    }
    .price {
        display: flex;
        justify-content: center;
    }
    .prod6 {
        position: relative;
    }
    .perks_prod6 {
        position: absolute;
        top: 3%;
    }
    .extra {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .extra-right_text .bottom {
        font-size: 30px;
    }
    .blog {
        margin: 20px;
    }
    .blog-head h3 span {
        margin: 0 10px
    }
    .blog-content_desktop {
        display: none;
    }
    .blogpost_img {
        place-items: center;
        height: 100%;
    }
    .blogpost_img img {
        width: 100%;
        height: 100%;
    }
    .swiper {
        display: flex;
        margin-top: 40px;
        position: relative;
    }
    .swiper-button-prev, .swiper-button-next {
        border: 3px solid var(--blue);
        padding: 15px;
        border-radius: 50%;
        position: absolute;
        top: 30%;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 20px;
    }
    .features {
        margin: 40px 20px;
    }
}

@media screen and (max-width:400px) {
    .cart, .nav-items {
        width: 100%;
    }
    .product-head h3 {
        font-size: 20px;
    }
    .product-head p {
        font-size: 18px;
    }
    .blog-head h3 {
        font-size: 20px;
    }
    .blog-head p {
        font-size: 18px;
    }
}

@media screen and (max-width: 300px) {
    .logo h3 {
        font-size: 20px;
    }
}